section#customer {
	width: 100%;
	overflow-x: hidden;
	z-index: 1;
	.outer {
			@media screen and (max-width: 375px) {
                width: 100%;
            }
		.inner {
			padding: 2rem 0rem;
			@media screen and (max-width: 1200px) {
				padding: 2rem 0rem;
			}
			@media screen and (max-width: 1024px) {
				display: block;
				.bubble {
					margin: 0 auto;
				}
			}
			justify-content: space-evenly;
			margin: 0 auto;
			flex-wrap: wrap;
			.bubble {
				margin-bottom: 50px;
				width: 400px;
				padding: 3rem 2rem;
				@media screen and (max-width: 1200px) and (min-width: 1025px) {
					width: 380px;
					padding: 2.2rem 1rem;
				}
				background-color: white;
				border-radius: 0 20px 0;
				position: relative;
				z-index: 1;
				color: #545479;
				letter-spacing: 0.7px;
				font-size: 0.96rem;
				line-height: 1.6;
				p.name {
					font-size: 1rem;
					font-weight: 500;
					text-align: right;
				}
				p.designation {
					font-weight: 700;
					text-align: right;
					font-size: 0.88rem;
				}
				.corner {
					position: absolute;
					background-color: red;
					height: 60px;
					width: 60px;
					border-radius: 50%;
					bottom: 0;
					left: 0;
					transform: translate(-50%, 50%);
                }
				@media screen and (max-width: 575px) {
                    width:300px;
					padding: 1rem 2rem;
                }
                @media screen and (max-width: 450px) {
                    width:80%;
					padding: 0.5rem 1rem;
                }
				@media screen and (max-width: 390px) {
                    width: 250px;
                    font-size: 13px;
					padding: 1rem 0.5rem;
                    padding-bottom: 2rem;
                    p,p.name,p.designation{
                        text-align: center;
                    }
                    .corner{
                        left:50%;
                    }
                }
			}
		}
	}
}
