main#home {
    width: 100%;
    overflow-x: hidden;
    
    background-color: #eef2f5;
    // height: 100vh;
	min-height: 600px;
    max-height: 900px;
	padding: 8rem 1.25rem 0;
	.inner {
		.left {
			height: 460px;
			.bold {
				color: #242a55;
				font-size: 3.5rem;
				font-weight: 900;
            }
            .normal{
                padding-top: 1rem;
				color: #242a55;
                font-size: 1.25rem;
                font-weight: 300;
                line-height: 1.8;
                letter-spacing: 0.2px;
            }
            width: 50%;
            margin: 6rem 5rem 0;
            line-height: 1.3;
            @media screen and(max-width:1024px) {
                width:80%;
                .bold{
                    font-size: 3rem;
                }
            }
            @media screen and (max-width:700px){
                width: 100%;
                margin: 4rem 2rem 0;
                .bold{
                    font-size: 2.5rem;
                }
                .normal{
                    font-size: 1rem;
                }
            }
            @media screen and (max-width:575px){
                width:90%;
                margin: 3rem 1.5rem 0;
                .bold{
                    font-size: 1.75rem;
                }
                .normal{
                    font-size: 1rem;
                }
        
            }
		}
	}
}
