.container {
	width: 80%;
	margin: 0 auto;
	@media screen and (max-width: 1400px) {
		width: 92%;
	}
	@media screen and (max-width: 1250px) {
		width: 95%;
	}
	@media screen and (max-width: 1024px) {
		width: 95%;
	}
}

.home {
	width: 100vw;
	overflow-x: hidden;
}

.RelativeOuter {
	position: relative;
	.AbsoluteInner {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
	}
}

.flex {
	display: flex;
}

.button-outline {
	text-align: center;
	user-select: none;
	cursor: pointer;
	border-radius: 0.3rem;
	color: #5d75f1;
	border: 1px solid #5d75f1;
	padding: 0.5rem 1.25rem;
}

.button-outline:hover {
	background-color: #5d75f1;
	color: white;
}

.button-fill {
	text-align: center;
	user-select: none;
	cursor: pointer;
	border-radius: 0.3rem;
	color: white;
	text-transform: uppercase;
	background-color: #5d75f1;
	border: 1px solid #5d75f1;
	padding: 0.5rem 1.25rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
